* {
    box-sizing: border-box;
}

form {
    margin: auto;
    max-width: 600px
}

form.example input[type=text] {
    padding: 20px;
    font-size: 17px;
    border: 2px solid #a6a6a6;
    float: left;
    width: 88%;
    background: #f1f1f1;
    border-radius: 30px 30px 30px 30px;
}

form.example input[type=text]:focus {
    border: 2px solid #C50E1F;
    outline: none;
}

form.example button {
    float: left;
    padding: 15px 18px 15px 18px;
    background: #a6a6a6;
    color: white;
    font-size: 22px;
    border: 2px solid #a6a6a6;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 10px;
}

form.example button:hover {
    background: #C50E1F;
    border: 2px solid #C50E1F;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.helpText {
    text-align: center;
    padding-bottom: 20px;
}

.headerButton {
    border: none;
    color: #ffffff;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    background: #a6a6a6;
    border-radius: 10px;
}

.headerButton:hover {
    background: #C50E1F;
}

.header-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
    border-bottom: 3px solid #dddddd;
}

.header-left {
    width: 100px;
    margin-top: 12px;
}

.header-center {
}

.header-right {
    width: 100px;
}

h1 {
    color: #C50E1F;
    font-size: xx-large;
}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    margin-top: auto;
    text-align: center;
    color: #808080;

}