* {
    box-sizing: border-box;
}

form {
    margin: auto;
    max-width: 600px
}

form.example input[type=text] {
    padding: 20px;
    font-size: 17px;
    border: 2px solid #808080;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 30px 30px 30px 30px;
}

form.example input[type=text]:focus {
    border: 2px solid #C50E1F;
    outline: none;
}

form.example button {
    float: left;
    padding: 15px 18px 15px 18px;
    background: #a9a9a9;
    color: white;
    font-size: 22px;
    border: 2px solid #a9a9a9;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 5px;
}

form.example button:hover {
    background: #C50E1F;
    border: 2px solid #C50E1F;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}

h1 {
    text-align: center;
    color: #C50E1F;
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: grey;
}