table, th, td {
    padding: 6px;
    text-align: center;
    border: 4px solid #dddddd;
    border-collapse: collapse;
}

.dataTable {
    display: grid;
    margin: 40px 40px 40px 40px;
}

.copyButton {
    padding: 6px;
    background: #a6a6a6;
    color: #ffffff;
    cursor: pointer;
    margin-left: 8px;
    border: none;
    border-radius: 5px;
}

.copyButton:hover {
    background: #C50E1F;
}

.successDialog {
    padding: 10px;
    background: #008000;
    color: #ffffff;
    position: fixed;
    width: 25%;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.successIcon {
    float: left;
    margin-right: 10px;
}

.tableRow {
    background: #90ee90;
}