<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', path='/css/index.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/table.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/icons/favicon.png"/>

    <meta charset="UTF-8">
    <title>C3O-Hub</title>
</head>

<body>
<h1>C3O-Hub</h1>
<h2>Suche nach Job-Repositories</h2>
<h4>Geben Sie in das Suchfeld den Job ein, dass Sie verwenden möchten.. (Beispiel: Kmeans, Sort, Grep, Pagerank,
    SGDLR)</h4>

<div>
    <form class="example" action="/submitForm" method="POST">
        <label>
            <input type="text" placeholder="Suche.." name="searchJob" value="{{ searchJob }}" required>
        </label>
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>

<div class="dataTable">
    <table>
        <tr>
            <th>Repository</th>
            <th>Repository Größe</th>
            <th>Menge der Trainingsdaten</th>
            <th>Vorhersagefehler des Modells</th>
        </tr>
        {% for data in formData %}
        <tr>
            <td data-type="repositoryLink">{{ data.Repository }}
                <button data-type="copy">Copy</button>
            </td>
            <td>{{ data.RepositorySize }}</td>
            <td>{{ data.DataSize }}</td>
            <td>{{ data.Mape }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<!--<div>-->
<!--    {{ formData }}-->
<!--</div>-->

<footer class="footer">
    <p id="copyright">&copy; 2021 C3O-Hub | TU-Berlin | Onur Arslan</p>
</footer>
</body>
</html>

<script>
    document.querySelectorAll('button[data-type="copy"]')
        .forEach(function (button) {
            button.addEventListener('click', function () {
                let repository = this.parentNode.parentNode
                    .querySelector('td[data-type="repositoryLink"]')
                    .innerText;
                repository = repository.substring(0, repository.length - 5);

                let tmp = document.createElement('textarea');
                tmp.value = repository;
                tmp.setAttribute('readonly', '');
                tmp.style.position = 'absolute';
                tmp.style.left = '-9999px';
                document.body.appendChild(tmp);
                tmp.select();
                document.execCommand('copy');
                document.body.removeChild(tmp);
            });
        });
</script>