<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', path='/css/index.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/table.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/icons/favicon.png"/>

    <meta charset="UTF-8">
    <title>C3O-Hub</title>
</head>

<div class="container">
    <body onLoad="buildHtmlTable('#resultDataTable')">
    <section>
        <div class="header-wrap">
            <div class="header-left">
                <button class="headerButton" onclick="window.location.href='/'"><i class="fa fa-home fa-2x"></i>
                </button>
            </div>
            <div class="header-center">
                <h1>C3O-Hub</h1>
            </div>
            <div class="header-right"></div>
        </div>
    </section>

    <h2 style="text-align: center">Suche nach Job-Repositories</h2>
    <div class="helpText">Geben Sie in das Suchfeld den Job ein, dass Sie verwenden möchten.. (Beispiel: KMeans, Sort,
        Grep,
        Pagerank, SGDLR)
    </div>

    <div>
        <form class="example" action="/submitForm" method="POST">
            <div>
                <label>
                    <input type="text" placeholder="Suche.." name="searchJob" value="{{ searchJob }}" required>
                </label>
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>

    <div class="dataTable">
        <table id="resultDataTable"></table>
    </div>

    <div id="dialog" class="successDialog">
        <img class="successIcon" src="../static/icons/success.svg" width="50" alt="SuccessIcon">
        <p><strong>Github-Link erfolgreich kopiert !</strong></p>
    </div>

    <footer class="footer">
        <p id="copyright">&copy; 2021 C3O-Hub | TU-Berlin</p>
    </footer>
    </body>
</div>
</html>

<script type="text/javascript">
    var jsonData = {{formData | safe}}

    // Build html table
    function buildHtmlTable(selector) {
        var columns = addAllColumnHeaders(jsonData, selector);

        for (var i = 0; i < jsonData.length; i++) {
            var row = $('<tr/>');
            for (var colIndex = 0; colIndex < columns.length; colIndex++) {
                var cellValue = jsonData[i][columns[colIndex]];
                if (cellValue == null) cellValue = "";

                if (colIndex === 3 && cellValue.substr(0, cellValue.indexOf(' ')) < 5) {
                    row.addClass('tableRow')
                }

                if (colIndex === 0) {
                    row.append($('<td data-type="repositoryLink">').html(cellValue + '<button class="copyButton" data-type="copy" onclick="copyToClipboard(this)"><img src="../static/icons/copy.svg" width="20px" alt="copyButton"/></button>'));
                } else {
                    row.append($('<td/>').html(cellValue));
                }
            }
            $(selector).append(row);
        }
    }

    // add column Headers of the table
    function addAllColumnHeaders(jsonData, selector) {
        var columnSet = [];
        var headerTr$ = $('<tr/>');

        for (var i = 0; i < jsonData.length; i++) {
            var rowHash = jsonData[i];
            for (var key in rowHash) {
                if ($.inArray(key, columnSet) == -1) {
                    columnSet.push(key);
                    headerTr$.append($('<th/>').html(key));
                }
            }
        }
        $(selector).append(headerTr$);

        return columnSet;
    }

    var successDialog = document.getElementById("dialog");
    successDialog.style.display = "none";

    function copyToClipboard(element) {
        var repositoryLink = element.parentNode.parentNode
            .querySelector('td[data-type="repositoryLink"]')
            .innerText

        var tmp = document.createElement('textarea');
        tmp.value = repositoryLink;
        tmp.setAttribute('readonly', '');
        tmp.style.position = 'absolute';
        tmp.style.left = '-9999px';
        document.body.appendChild(tmp);
        tmp.select();
        document.execCommand('copy');
        document.body.removeChild(tmp);

        // auto close dialog
        successDialog.style.display = "block";
        setTimeout(function () {
            successDialog.style.display = "none";
        }, 5000);
    }
</script>